.user_button {
  display: flex;

  .user_button_title {
    margin-left: 8px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #424242;
    height: 24px;
  }
}
