.user_button {
  display: flex;
  .user_button_title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #424242;
  }
}
.user_icon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
