.goods_sort_wrapper {
  display: flex;
  height: 40px;
  margin-top: 24px;
  background: #ffffff;
}
.item_name {
  display: flex;
  align-items: center;
  width: 140px;
}
.item_name:first-child {
  width: 278px;
}
.item_name:last-child {
  margin-right: 2px;
}

.goods_sort {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  margin-left: 24px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #2c2d2e;
  opacity: 0.6;
}
.sort {
  display: flex;
  width: 8px;
  flex-direction: column;
  margin-left: 3px;

  .descending {
    margin-top: 2px;
    transform: rotate(-180deg);
  }
}
