.form_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 19px;
  margin-bottom: 237px;
}
textarea {
  height: 128px;
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  resize: none;
  overflow: hidden;
  background: rgba(42, 47, 55, 0.02);
  border: 1px solid rgba(42, 47, 55, 0.08);
  border-radius: 4px;
  padding-top: 20px;
}

.row_two_items {
  display: flex;
}
.row_one_item {
  display: flex;
  width: 50%;
}
.form_input {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;

  .form_title {
    background-color: #ffffff;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2a2f37;
    opacity: 0.6;
  }
  input {
    height: 64px;
    background: rgba(42, 47, 55, 0.02);
    margin-top: 8px;
    padding-left: 24px;
    border: 1px solid rgba(42, 47, 55, 0.08);
    border-radius: 4px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    color: #2a2f37;
    &:focus {
      border: 1px solid rgba(42, 47, 55, 0.08);
    }
  }
}
